body{
  margin:0;
}

#nav-bar{
  display: flex;
  width: 100%;
  margin: 0;
  background-color: red;
}

[class*='nav-item'] {
  flex: auto;
  background-color: gray;
  height: 175px;
  border: 1px solid white;
}

#main-wrapper{
  display: float;
}
[class*='main-container'] {
  height: 500px;
  width: 50%;
}

.main-container-1{
  float: left;
  background-color: #666;
}
.main-container-2{
  float: right;
  background-color: #eee;
}
.main-container-3{
  float: left;
  clear: both;
  background-color: #eee;
}
.main-container-4{
  float: right;
  clear: right;
  background-color: #666;
}

.post-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: blue;
}

[class*='post-item'] {
  flex: auto;
  background-color: gray;
  height: 500px;
  border: 1px solid white;
}

.post-ad{
  display: flex;
  width: 100%;
  margin: 0;
  background-color: blue;
}
.post-ad-1{
  flex: 33%;
  height: 500px;
  background-color: #666;
}


.post-ad-2{
  flex: 67%;
  height: 500px;
  background-color: teal;
}

.see-all{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: peru;
}

#comming-up{
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: teal;
}

#person-week-wrapper{
  display: flex;
  width: 100%;
  margin: 0;
  background-color: blue;
}
.person-week-item-1{
  flex: 20%;
  height: 200px;
  background-color: blue;
}


.person-week-item-2{
  flex: 80%;
  height: 200px;
  background-color: green;
}

#article-wrapper{
  display: float;
}
[class*='article-item'] {
  height: 500px;
  width: 50%;
}

.article-item-1{
  float: left;
  background-color: #666;
}
.article-item-2{
  float: right;
  background-color: #eee;
}
.article-item-3{
  float: left;
  clear: both;
  background-color: #eee;
}
.article-item-4{
  float: right;
  clear: right;
  background-color: #666;
}
.article-item-5{
  float: left;
  clear: both;
  background-color: #666;
}
.article-item-6{
  float: right;
  clear: right;
  background-color: #eee;
}

#more-links{
  width: 100%;
  display: flex;
  height: 150px;
  background-color: peru;
}

#feat-book{
  width: 100%;
  display: flex;
  height: 300px;
  background-color: teal;
}

footer{
  width: 100%;
  display: flex;
  height: 600px;
  background-color: #550000;
}
